{% extends "bootstrap/base.html" %}

{% block content %}
<div class="container text-center">
    <h1 class="text-center">Wordcloud "{{cloudname}}"</h1>
    <img src="data:image/svg+xml,{{image|urlencode}}" width="50%" height="50%" style="margin: 0 auto 0 auto; display: block;">
    <br/>
    <span>Wordcount: {{wordcount}}</span> <a href="/{{cloudname}}/edit">Add words</a>
</div>
<script type="text/javascript">
    setTimeout(function() {
        location.reload();
    }, 30*1000); 
</script>
{% endblock %}